/* Created a root for all base colors */
:root{
    --main-bg: #cbd2dc;
    --header-font-color: #6b0099;
    --border-color: #444343;
    --font-color: white;
    --extra-bg: #969696;
    --extra-font: #4e395f;
}

/* General Style */
* {
    margin: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--main-bg);
}
/* Header and Nav Style */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    border-bottom: 5px solid var(--border-color);
    background-color: var(--extra-bg); 
}

header h1 {
    display: flex;
    color: var(--header-font-color);
    font-size: 45px;
    margin-left: 30px;
}

header nav ul {
    display: flex;
    list-style-type: none; 
}

header nav ul li {
    display: flex;
    margin-right: 25px; 
    font-size: 23px; 
}

/* Added a transition to the effect */
a {
   text-decoration: none;
   color: var(--extra-font); 
   transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

/* added an effect */
a:hover {
    box-shadow: inset 0px 0px 8px var(--font-color), 0 0 15px var(--header-font-color);
}

/* About Me Style */
.about-me {
    margin-top: 40px;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.about-me h2{
    color: var(--header-font-color);
    border-right: 5px solid;
    margin-left: 20px;
    font-size: 40px;
}

.about-me img{
    max-height: 215px;
    margin-left: 30px;
    border: 5px solid var(--border-color);
}

.about-me p{
    flex: 1;
    text-align: left;
    margin-left: 30px;
    font-size: 20px;
}

/* My Projects Style */
section.my-projects {
    margin-top: 40px;
    margin-left: 30px;
    display: flex;
    align-items: left;
    flex-wrap: wrap;
    width: 100%;
}

section.my-projects h2 {
    color: var(--header-font-color);
    border-right: 5px solid;
    margin-left: 20px;
    font-size: 40px;
}

/* Created a grid to make the cards */
section.all-cards {
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 800px; 
    margin: 0 20px;
}

.card {
    height: 200px;
    width: 350px;
    margin: 5px;
    font-size: 35px;
    border: 5px solid;
}

/* Made a large card that spans two columns */
.card.large-card {
    grid-column: span 2;
    border: 5px solid;
    background-image: url(images/digital-marketing-meeting.jpg);
    background-size: cover;
    width: 720px;
    height: 400px;
    margin-top: 25px;
    text-align: center;
    color: var(--font-color);
}

.card-2 {
    background-image: url(images/deployment-screenshot.JPG);
    background-size: cover;
    color: var(--font-color);  
    text-align: center;
}

.card-3 {
    background-image: url(images/search-engine-optimization.jpg);
    background-size: cover;
    color: var(--border-color);  
    text-align: center;
}

.card-4 {
    background-image: url(images/coding.jpg);
    background-size: cover;
    color: var(--border-color);  
    text-align: center;
}

.card-5 {
    background-image: url(images/digital-media.jpg);
    background-size: cover;
    color: var(--border-color);  
    text-align: center;
}
    
.contact-me {
    margin-top: 40px;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

/* Contact Me Style */
.contact-me h2 {
    color: var(--header-font-color);
    border-right: 5px solid;
    margin-left: 20px;
    font-size: 40px;
}
section.contact-me ul {
    display: flex;
    list-style-type: none;
}

section.contact-me ul li {
    margin-left: 60px; 
    font-size: 35px;
}

/* Created a footer */
footer {
    display: flex;
    justify-content: center;
    font-size: 15px;
    border-top: 5px solid var(--border-color);
    background-color: var(--extra-bg);
}